<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__ . '/src/')
    ->exclude('logs')
    ->exclude('vendor');

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        'array_syntax' => ['syntax' => 'short'],
        'no_unused_imports' => true,
        'ordered_imports' => true,
        'yoda_style' => false,
        'concat_space' => ['spacing' => 'one'],
    ])
    ->setFinder($finder);
